\
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="|PYTHON| -u |WFASTCGI| --listener *:|PORT| --web.config=%IIS_WEBCONFIG% --wsgi app.app:application" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpErrors errorMode="Detailed"></httpErrors>
    <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>
</configuration>
